.productContainer {
  height: 100%;
}

.productListItems {
  list-style-type: none;
  padding: 4px;
}
.productListItem {
  padding: 4px 4px;
  text-align: left;
}

.listItemHeader {
  font-weight: bolder;
  font-size: 1.2rem;
}
.productListItem:nth-child(2n + 1) {
  background-color: rgb(221, 221, 221);
}
