.fakeImage {
  width: 250px;
  height: 300px;
  background-color: gray;
}

.mainSection__profile h1 {
  font-size: 32px;
  padding: 16px 0px;
}

.profile_article {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
}

.avatar {
  /* width: 30%; */
  /* background-color: red; */
  padding: 16px;
  flex-grow: 1;
  min-width: 200px;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

.avatar img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* object-position: center; */
  object-fit: cover;
}

.profile {
  list-style-type: none;
  text-align: left;
  padding: 16px;
}

.profile li {
  padding: 8px 0;
}

.profile li span {
  font-weight: bold;
}
/* 
#object_position {
  object-position: -94px;
} */
