.productCardWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 8px;
}

.productCardList {
  width: 100%;
}

.productCardList li {
  padding: 8px;
  text-align: left;
}
.itemName {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
