.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.mainHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: tan;
  color: white;
  background-color: rgb(101, 101, 167);
}

.mainHeader h1 {
  padding: 7px;
}

.mainNavigation {
  flex-grow: 1;
  text-align: right;
}

.mainNavigation_item {
  display: inline-block;
}
.linkStyle {
  padding: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.linkStyle:hover {
  color: rgb(101, 101, 167);
  background-color: white;
}

.mainSection {
  width: 100%;
  flex-grow: 1;
}

.mainSection__login,
.mainSection__register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainSection__profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formContainer {
  width: 350px;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hide {
  display: none;
}

.formContainer h2 {
  width: 100%;
  text-align: left;
  padding: 8px;
}

.formContainer form {
  padding: 8px;
}

.formContainer input {
  display: block;
  width: 100%;
  border: 1px solid #222;
  outline: none;
  border-radius: 8px;
  line-height: 2rem;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.formContainer button {
  display: block;
  width: 100%;
  border: 1px solid #222;
  background-color: green;
  color: white;
  outline: none;
  border-radius: 8px;
  line-height: 2rem;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fakeImage {
  width: 250px;
  height: 300px;
  background-color: gray;
}

.profile {
  width: 250px;
  list-style-type: none;
  text-align: left;
}

.profile li {
  padding: 8px 0;
}

.profile li span {
  font-weight: bold;
}

.mainSection__profile h1 {
  font-size: 32px;
  padding: 16px 0px;
}
